<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.mountx.wukung"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:name=".WkApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WuKung">
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lists.ListWithConditionsActivity"
            android:label="@string/lists_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuKung.NoListChoiceIndicatorSingle" />

        <activity
            android:name=".layout.LayoutActivity"
            android:label="@string/layout_activity_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".drawable.CountdownActivity"
            android:label="@string/countdown_activity_title"
            android:screenOrientation="portrait" />

        <activity
            android:name=".theme.AppLightActivity"
            android:label="@string/app_light_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuKung.Light" />

        <activity
            android:name=".theme.AppDayNightActivity"
            android:label="@string/app_day_night_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuKung.DayNight" />

        <activity
            android:name=".theme.AppMaterialActivity"
            android:label="@string/app_material_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuKung.Material" />

        <activity
            android:name=".main.ks.KsMainActivity"
            android:label="@string/ks_main_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuKung.KsMain" />

        <activity
            android:name=".fullscreen.FullscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuKung.Fullscreen" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:screenOrientation="portrait" />
    </application>
</manifest>